
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fl{
    float: left;
}

.fr{
    float:right;
}

footer{
    height: 100px;
    background-color: chartreuse;
}

main{
    height: calc(100% - 100px);
    background-color: aqua;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

#nav-bar{
    width: 200px;
    height: 100%;
    background-color: black;
}

#main-section{
    width: calc(100% - 200px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
}

#upgrade-banner{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    position: fixed;
    z-index: 1001;
}

#button-upgrade{
    position: absolute;
    right: 20%;
    top: 40%;
    
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px ;

    font-size: 0.8em;
}

.color-white{
    color: white;
}

.font{
    font-family: 'Open Sans', sans-serif;
    font-size: 00.8em;
}

.grey {
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 00.8em;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

ul>li a {
    display: inline-block;
    flex-grow: 1;
    color: white;
    text-decoration: none;
}

.fas.fa-home{
    color: white;
}

.uppercase{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

nav.podcast li{
    display: inline;
    margin-left: 10px;
}

.podcast{
    position: absolute;
    top: 20%;
    right: 20%;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-item{
    flex: 0 0 150px;
    height: 150px;
}

.video{
    height: 150px;
    width: 150px;
    background-size: cover;
}

#metal{
    background-image: url(../img/metal_lifting.jpg);
}

#stranger{
    background-image: url(../img/stranger.jpeg);
}

#quiet-place{
    background-image: url(../img/aquietplace.jpeg);
}

#split{
    background-image: url(../img/split.jpeg);
}

#cure{
    background-image: url(../img/cure.jpeg);
}

#sinister{
    background-image: url(../img/sinister.jpeg);
}

