
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
    width: 15%;
    height: 100%;
    vertical-align: middle;    
    background-color: black;
}

#button-upgrade{
    position: absolute;
    right: 5%;
    top: 40%;
    
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px ;

    font-size: 0.8em;
}

.color-white{
    color: white;
}

header{
    background-color: rgba(0, 0, 0, 0.795);
    height: 80px;

    position: relative;
}

nav,
ul{
    height: 100%;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

ul>li{
    display: inline-block;
    flex-grow: 1;
}

.column {
    width: 15%;
    height: 100%;
    background-color: black;
    line-height: 2;
    padding-left: 15px;
}

.bottom {
    flex-grow: 1; 
}

#left {
    flex-shrink: 0;
}

.grey {
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 00.8em;
}

.uppercase{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.font{
    font-family: 'Open Sans', sans-serif;
    font-size: 00.8em;
}

.header-bottom{
  margin-top: 200px;
}

.hover-menu{
    height: 25.5px;
    border: 1px solid greenyellow;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}
